.game-wait {
  .user-list {
    padding: 1.5rem 2.5rem;
    background: linear-gradient(119.97deg, rgba(143, 115, 210, 0.23) 1.84%, rgba(88, 65, 142, 0) 98.44%);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
  }
}

.start-game{
  @include formButton($pink, $pinkShadow);
}
