.game-page {
  flex-grow: 1;
  position: relative;
  background: #186053;

  h1{
    @include formText(2rem, 600, white);
    padding:0.8rem;
  }

  .board-wrapper{
    box-shadow: 1px 2px 43px 1px rgba(0,0,0,1);
  -webkit-box-shadow: 1px 2px 43px 1px rgba(0,0,0,1);
  -moz-box-shadow: 1px 2px 43px 1px rgba(0,0,0,1);
  width: 75rem;
  height: 48rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  }

  .board-border{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75rem;
    height: 48rem;
    border-radius: 1rem;
    box-shadow: 1px 2px 43px 1px rgba(0,0,0,1) inset;
    -webkit-box-shadow: 1px 2px 43px 1px rgba(0,0,0,1) inset;
    -moz-box-shadow: 1px 2px 43px 1px rgba(0,0,0,1) inset;
    
  }

  .board {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: #d9d9d9;
    width: 70rem;
    height: 43rem;
    border-radius: 1rem;
    box-shadow: 1px 2px 43px 1px rgba(0,0,0,1) inset;
    -webkit-box-shadow: 1px 2px 43px 1px rgba(0,0,0,1) inset;
    -moz-box-shadow: 1px 2px 43px 1px rgba(0,0,0,1) inset;

    .card-wrapper{
      transform: scale(0.7);
    }
  }
  .user {
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
    position: absolute;

    .user-details {
      display: flex;
      align-items: center;
      justify-content: center;
      p {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffffff;
        width: 31rem;
        height: 8rem;
        font-size: 3rem;
        background: linear-gradient(119.97deg, #554e67 98.43%, rgba(88, 65, 142, 0) 98.44%);
        mix-blend-mode: normal;
        border: 1px solid rgba(255, 255, 255, 0.2);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        border-radius: 20px;
      }
    }
    .user-cards {
      height: 22rem;
      display: flex;
      align-items: center;
      justify-content: center;

      > div {
        top: 6rem;
      }
      > div:first-of-type {
        transform: matrix(0.95, -0.31, 0.31, 0.95, 0, 0);
      }
      > div:nth-of-type(2) {
        transform: matrix(0.99, -0.14, 0.14, 0.99, 0, 0);
      }
      > div:nth-of-type(3) {
        transform: matrix(1, 0.03, -0.03, 1, 0, 0);
      }
      > div:last-of-type {
        transform: matrix(0.98, 0.2, -0.21, 0.98, 0, 0);
      }
    }
  }

  .level-wrapper {
    position: absolute;
    width: 31rem;
    height: 8rem;
    bottom: 5rem;
    right: 5rem;
    background: linear-gradient(119.97deg, rgba(143, 115, 210, 0.23) 1.84%, rgba(88, 65, 142, 0) 98.44%);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
  }
}
