


@media screen and (max-width:1024px){
    // ABOUT US
    .no-back-page-wrapper{
        flex-direction: column;
        align-items: center;
    }
    
    .bio{
        margin-top: 0;
    }


    // Sign-up

    .auth-heading{
        font-size: 3rem;
    }
    // .auth-subheading
}

// @media screen and ( ){
    
// }


@media screen and (max-width:600px){
    .no-back-page-wrapper{
        padding: 7rem 4rem;
    }
}