.navLink.currentPage {
  background-color: #186053;
  box-shadow: 0px 15px 40px rgba(24, 96, 83, 0.61);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 2rem;
  color: white;
  nav {
    a {
      margin: 0 12px;
      padding: 10px 25px;
      border-radius: 9px;
      color: white;
      transition: 0.5s all;
      font-weight: 800;
      z-index: 1;
    }
    .navbar-wrapper {
      display: flex;
      .absolute {
        transition: width 0.5s ease-in-out, left 0.5s ease-in-out;
        position: absolute;
        width: 82px;
        height: 42px;
        background-color: #186053;
        border-radius: 9px;
        z-index: 0;
        border-radius: 4px;
        left: 0;
        box-shadow: 0px 10px 25px rgba(24, 96, 83, 0.61);
      }
    }
  }
  .navButton {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    visibility: hidden;
    opacity: 0;
  }
}

@media only screen and (max-width: 768px) {
  header {
    .navButton {
      visibility: visible;
      opacity: 1;
    }
    nav {
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 1.5rem;
      background-color: black;
      transition: 0.3s;
      transform: translateY(-100vh);
    }
    .responsiveNav {
      transform: none;
    }
  }
}
