@import "./styles/Common.scss";
@import "./styles/Auth.scss";
@import "./styles/About.scss";
@import "./styles/Loading.scss";
@import "./styles/Queries.scss";
@import "./styles/Rules.scss";
@import "./styles/Profile.scss";
@import "./styles/GameWait.scss";
@import "./styles/GamePage.scss";

.App {
  display: flex;
  flex-direction: column;
  background-color: #1d1427;
  min-height: 100vh;
}