@font-face {
  font-family: "Mr Tiger";
  src: url("../src/assets/fonts/mr-tiger-regular.woff2.ttf");
}

@font-face {
  font-family: "Nunito Sans";
  src: url("../src/assets/fonts/NunitoSans-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("../src/assets/fonts/NunitoSans-ExtraBold.ttf");
  font-weight: 800;
}
html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
